.banner {
    margin-top: 16px;

    &__inner {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__left {
        position: relative;
        width: 840px;
    }

    &__act {
        position: absolute;
        background: rgba(251, 247, 247, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        transition: all 0.5s;
        transform: translateX(-50%);
        z-index: 1;

        &:hover {
            background: #fff;
            transform: translateX(-50%) scale(1.2);
        }

        &:nth-of-type(1) {
            top: 50%;
            left: 0;
        }
        &:nth-of-type(2) {
            rotate: 180deg;
            top: 50%;
            right: 0;
        }
    }

    &__arrow {
        width: 14px;
        height: 14px;
    }

    &__slideshow {
        overflow: hidden;
    }

    &__wrap {
        max-width: 840px;
        display: flex;
        transform: translateX(-200%);
    }
}

.sub-banner {
    margin-top: 16px;

    &__inner {
        display: flex;
    }
}

.menu {
    margin-top: 16px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 10px 5px;
    }

    &__act {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__img {
        width: 46px;
        height: 46px;
    }

    &__label {
        padding: 8px;
        width: 115px;
        height: 56px;
        font-size: 1.4rem;
        font-weight: 500;

        line-height: 20px;
        color: #333;
        text-align: center;
    }
}

.flash-sale {
    margin-top: 16px;
    padding: 16px 0;

    background: #fe645f;

    &__top {
        display: flex;
        align-items: center;
        padding: 18px 24px;
        border-radius: 8px;
        background: #fff;
        margin-bottom: 16px;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 380px;
    }

    &__left-quit {
        font-family: "Nunito Sans", sans-serif;
        font-size: 1.56rem;
    }

    &__countdown > span:nth-child(even) {
        color: #000;
        font-size: 1.3rem;
        font-weight: bold;
    }

    &__countdown-number {
        border: #000;
        border-radius: 8px;
        background: #000;
        padding: 4px 6px;
        font-weight: 700;
        font-size: 1.6rem;
        color: #fff;
    }

    &__cta {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;
        line-height: 20px;
        font-size: 1.4rem;
        font-weight: 700;

        color: #1478fc;
    }

    &__bottom {
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &-item {
        padding: 8px;
        background: #fff;
        border-radius: 8px;

        &__img {
            width: 190px;
            height: 190px;
        }

        &__title {
            font-size: 1.4rem;
            line-height: 19.6px;
        }

        &__total-price {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 5px;
        }

        &__price {
            font-family:sans-serif,  "Poppins";
            font-size: 1.6rem;
            font-weight: 600;
            color: rgb(201, 33, 39);
        }
        &__sale {
            display: inline-block;
            font-size: 1.12rem;
            padding: 3px 4px;
            border-radius: 4px;
            font-weight: 600;
            line-height: 1.428571429;
            background: rgb(201, 33, 39);
            color: #fff;
        }

        &__old-price {
            margin-top: 5px;
            font-size: 1.4rem;
            line-height: 20px;
            text-decoration: line-through;
            color: rgb(136, 136, 136);
        }

        &__process {
            position: relative;
            margin-top: 5px;

            background-color: #cdcfd0;
            width: 100%;
            height: 16px;
            border-radius: 20px;
            overflow: hidden;
        }

        &__quantity {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 1.12rem;
        }

        &__process-bar {
            width: 20%;
            height: 16px;
            background-image: linear-gradient(to bottom, #c62128 0%, #c62128 100%);
        }
    }
}



.vendor {
    margin-top: 15px;

    & > .container {
        background: #fff;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 20px;
    }
}

.subscribe {
    margin-top: 15px;

    & > .container {
        background: #9fa7ab;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 14px 25px;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    &__heading {
        font-size: 1.8rem;
    }

    &__img {
        width: 25px;
        height: 25px;
    }

    &__form {
        display: flex;
        width: 600px;
        background: #fff;
        height: 40px;
    }
}
