.topsale {
    margin-top: 15px;

    &__title {
        padding: 16px;
        background: #000;
        color: #fff;
        font-size: 1.7rem;
        font-weight: 550;
        line-height: 1.428571429;
    }
    &__tab-list {
        padding-left: 20px;
        padding-top: 8px;
        background: #fff;
    }

    &__select {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.428571429;
        color: #545759;
        margin: 0 12px 8px;

        & + & {
        }
    }

    &__body {
        background: #fff;
        display: flex;
    }

    &__left {
        width: 41.66666666666667%;
        border-right: 1px solid #d7d7d7;
    }

    &-item {
        display: flex;
        align-items: center;
        padding-top: 8px;

        &__link {
            display: flex;
            align-items: center;
        }

        &__rank {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0px 16px;
        }

        &__position {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.428571429;
        }
        &__icon {
            width: 14px;
            height: 14px;
        }

        &__img {
            width: 100px;
            height: 100px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding: 0 16px;
        }

        &__name {
            font-size: 1.4rem;
            line-height: 19.6px;
            color: #000;
        }

        &__author {
            font-size: 1.3rem;
            color: gray;
            line-height: 1.428571429;
        }

        &__score {
            color: #2f80ed;
            font-size: 1.3em;
            line-height: 1.428571429;
        }
    }

    &__right {
        width: 58.333333333333336%;
        display: flex;
    }

    &__img-main {
        width: 240px;
        height: 240px;
    }

    &__content {
        padding: 0px 30px;
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 550;
        line-height: 27px;
    }

    &__desc {
        font-size: 1.4rem;

        line-height: 1.428571429;
    }

    &__price {
        margin-top: 20px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.428571429;
    }

    &__row{
        display: flex;
        align-items: center;
    }

    &__old-price{
        font-size: 1.4rem;
        line-height: 1.428571429;
        text-decoration: line-through;
    }
}
